:root{
    --first-color: #ffffff;
    --second-color: #c0c0c0;
    --third-color: red;
    --buton-color: #167bf7;
    --backgroud-color: #00030c;
    --principal-font: 'inter' ;
    --princioal-font-size: 16px;
    --title-font-size: 28px;
    --button_color_effect: #2482f6;

}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backgroud-color);
    color: var(--first-color);
    font-family: var(--principal-font);
    font-size: var(--princioal-font-size);
    font-weight: 400;
}

.principal{
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__title{

    font-size: var(--title-font-size);
    font-weight: 700;

}

.container__box{

    margin: 0 6em;

}

.container__image{

    margin: 1em 0 2em 0;

}

.container__button{

    background-color: var(--buton-color);
    border-radius: 8px;
    padding: 1em;
    color: var(--first-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.second__button{

    background-color: transparent;
    border: 2px solid var(--first-color);

}

.container__attention{

    font-size: 12px;
    color: var(--second-color);

}

.second__image{
    
    width: 80%;

}

.second{

    align-items: center;
    margin: 0 10em;

}

.description__title{

    font-weight: 700;
    font-size: 48px;
    color: var(--first-color);
    margin-bottom: 0.1em;

}

.description__text{

    color: var(--second-color);

}

.third__button{

    display: inline-block;
    margin-top: 1em;

}

.container__description{

    padding: 2em;

}

.where{

    text-align: center;
    color: var(--first-color);

}

.where__title{

    font-size: 48px;

}

.where__list{

    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.list__item{

    font-size: 32px;

}

.footers{

    text-align: center;
    margin: 5em 3em;

}

.footer__list{

    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;

}

.list__link a{

    text-decoration: none;
    color: var(--first-color);
    margin-left: 1em;

}

.footer__text{

    color: var(--second-color);
    font-size: 14px;
    margin: 1em 0;

}

.list__link a:hover{

    color: var(--buton-color);

}

.list__link a:active{

    font-size: 18px;

}

.container__button:hover{

    background-color: var(--button_color_effect);
    color: var(--backgroud-color);

}

.second__button:hover{

    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--backgroud-color);

}
